# Ignore map-related files
*.map
*.map.scen
*.map.cornergraph
*.zip

# Ignore compiled files
*.o

# Ignore the compiled executables
cornergraph
cornergraph_gppc

# Ignore files containing results of experiments
*7ime.txt
*.map.results
*.map.time
*.map.pre
*.map.time.single
*.map.time.octile
*.map.time.double
*.map.time.compute
compute
double
octile
single
*.map.pre
ccg
corner
nearby_corners
push_corner
relevant
smooth_graph
geometric_container
*.avg
