# Ignore map-related files
*.map
*.map.scen
*.map.cornergraph
*.zip

# Ignore compiled files
*.o

# Ignore the compiled executables
cornergraph
cornergraph_gppc

# Ignore files containing results of experiments
*7ime.txt

*.pre
*.run
*.runtime
*.time
*.mem
*.stat
*.stats

*.avg
*.cat

*.single
*.double
*.octile
*.compute

compute
double
octile
single
