# Ignore map-related files
*.map
*.map.scen
*.map.cornergraph
*.zip
*.map.results

# Ignore compiled files
*.o

# Ignore the compiled executable
cornergraph

# Ignore files containing results of experiments
*7ime.txt
